<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Launch Flow</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{main.progress}}</div>
                        <div>Progress States</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-history fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">T+ {{sinceTime()}}</div>
                        <div>since last state change</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-rebel fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{main.num_online}}</div>
                        <div>{{main.rocketeers}} Online</div>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0);" ng-click="updateOnline();">
                <div class="panel-footer">
                    <span class="pull-left">Refresh</span>
                    <span class="pull-right"><i class="fa fa-refresh"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-warning fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{main.errorCount}}</div>
                        <div>Anomolies reporting</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Altitude
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="flot-chart">
                    <!--div class="flot-chart-content" id="flot-line-chart"></div-->
                    <!--div chart='main.accelY'> </div-->
                    <flot dataset="main.accelY" options="main.myChartOptions"></flot>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
  <div class="col-lg-4">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bell fa-fw"></i> Notifications Panel
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div class="list-group">
                  <a href="#" class="list-group-item">
                      <i class="fa fa-comment fa-fw"></i> New Comment
                      <span class="pull-right text-muted small"><em>4 minutes ago</em>
                      </span>
                  </a>
                  <a href="#" class="list-group-item">
                      <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                      <span class="pull-right text-muted small"><em>12 minutes ago</em>
                      </span>
                  </a>
                  <a href="#" class="list-group-item">
                      <i class="fa fa-envelope fa-fw"></i> Message Sent
                      <span class="pull-right text-muted small"><em>27 minutes ago</em>
                      </span>
                  </a>
                  <a href="#" class="list-group-item">
                      <i class="fa fa-tasks fa-fw"></i> New Task
                      <span class="pull-right text-muted small"><em>43 minutes ago</em>
                      </span>
                  </a>
                  <a href="#" class="list-group-item">
                      <i class="fa fa-upload fa-fw"></i> Server Rebooted
                      <span class="pull-right text-muted small"><em>11:32 AM</em>
                      </span>
                  </a>
                  <a href="#" class="list-group-item">
                      <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                      <span class="pull-right text-muted small"><em>11:13 AM</em>
                      </span>
                  </a>
                  <a href="#" class="list-group-item">
                      <i class="fa fa-warning fa-fw"></i> Server Not Responding
                      <span class="pull-right text-muted small"><em>10:57 AM</em>
                      </span>
                  </a>
                  <a href="#" class="list-group-item">
                      <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                      <span class="pull-right text-muted small"><em>9:49 AM</em>
                      </span>
                  </a>
                  <a href="#" class="list-group-item">
                      <i class="fa fa-money fa-fw"></i> Payment Received
                      <span class="pull-right text-muted small"><em>Yesterday</em>
                      </span>
                  </a>
              </div>
              <!-- /.list-group -->
              <a href="#" class="btn btn-default btn-block">View All Alerts</a>
          </div>
          <!-- /.panel-body -->
      </div>
    </div>
    <!-- /.col-lg-4 -->
</div>

<div class="row" ng-show={{main.permission}}>
    <!-- /.panel -->
    <div class="col-lg-12" >
      <div class="chat-panel panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-comments fa-fw"></i>
            Chat with Kythera
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="chat" ng-repeat="directive in main.messages">
                <li class="left clearfix">
                    <span class="chat-img pull-left">
                        <img src={{directive.source}} alt="User Avatar" class="img-circle" />
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{directive.name}}</strong>
                            <p class="time"> sent on {{main.formatTime(directive.time)}} </p>
                        </div>
                        <p>
                            {{directive.message}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            <form ng-submit=sendMessage() class="input-group" id="chatting">
                <input autocomplete="off" type="text" id="btn-input" class="form-control input-sm" ng-model="text" name="text" placeholder="Type your message here..."/>
                <span class="input-group-btn">
                    <input class="btn btn-warning btn-sm" id="btn-chat" type="submit" value="Send" />
                </span>
            </div>
        </div>
      </div>
      <!-- /.panel-footer -->

      <!-- Flot Charts JavaScript -->
      <script src="../bower_components/flot/excanvas.min.js"></script>
      <script src="../bower_components/flot/jquery.flot.js"></script>
      <script src="../bower_components/flot/jquery.flot.pie.js"></script>
      <script src="../bower_components/flot/jquery.flot.resize.js"></script>
      <script src="../bower_components/flot/jquery.flot.time.js"></script>
      <script src="../bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
      <script src="../js/flot-data.js"></script>
</div>
<!-- /.panel .chat-panel -->
